<%= form_with(model:, url:, data: { turbo: false}) do |f| %>
  <%= render partial: 'shared/form/errors', locals: { errors: model.errors } %>

  <dl>
    <div>
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title %></dd>
    </div>
    <div>
      <dt><%= f.label :body %></dt>
      <dd><%= f.text_area :body %></dd>
    </div>
    <% if current_user.present? %>
      <div>
        <dt><%= f.label :privacy %></dt>
        <dd>
          <ul>
            <% Dream.privacies.keys.each do |key| %>
              <li>
                <label>
                  <%= f.radio_button :privacy, key %>
                  <%= key %>
                </label>
              </li>
            <% end %>
          </ul>
        </dd>
      </div>
      <div>
        <dt><%= f.label :lucidity %></dt>
        <dd><%= f.number_field :lucidity, in: (0..5) %></dd>
      </div>
      <% if places&.any? %>
        <div>
          <dt><%= f.label :sleep_place_id %></dt>
          <dd>
            <ul>
              <li>
                <label>
                  <%= f.radio_button :privacy, nil, checked: model.sleep_place_id.nil? %>
                  Not set
                </label>
              </li>
              <% places.each do |sleep_place| %>
                <li>
                  <label>
                    <%= f.radio_button :sleep_place_id, sleep_place.id %>
                    <%= sleep_place.name %> (<%= sleep_place.dreams_count %>)
                  </label>
                </li>
              <% end %>
            </ul>
          </dd>
        </div>
      <% end %>
    <% end %>
  </dl>

  <div><%= f.button name: nil %></div>

<% end %>
