<% content_for :title, @entity.text_for_link %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('dreams.index.nav_text'), dreams_path) %>
  <span><%= @entity.text_for_link %></span>
<% end %>

<article>
  <h1><%= @entity.text_for_link %></h1>

  <div><%= simple_format(@entity.body) %></div>
  <ul>
    <li><%= @entity.sleep_place&.name %></li>
    <li><%= @entity.lucidity %></li>
  </ul>
</article>
