<% content_for :title, t('.title', title: @container.title) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('dreams.index.nav_text'), dreams_path) %>
  <span><%= @container.title %></span>
<% end %>

<article class="dream">
  <header>
    <h1><%= @entity.text_for_link %></h1>
  </header>
  <section class="plot">
    <div class="body"><%= raw @container.body %></div>

    <footer>
      <%= profile_link(@container.owner) %>
      <%= time_tag(@container.date) %>
    </footer>
  </section>
</article>
