<% content_for :title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<section>
  <h1><%= t('.heading') %></h1>

  <%= render partial: 'profiles/new/form', locals: { model: @entity } %>

  <p><%= t('.already_joined') %> <%= link_to(t('.log_in'), login_path) %>.</p>
</section>
