<article class="dream-card <%= entity.privacy %>">
  <header>
    <h2><%= link_to(entity.title, my_dream_path(entity.id)) %></h2>
  </header>
  <div>
    <p><%= entity.preview %></p>
  </div>
  <footer>
    <span class="sleep_place"><%= entity.sleep_place %></span>
    <span class="comment-count"><%= entity.comment_count %></span>
    <span class="lucidity"><%= entity.lucidity %></span>
    <%= time_tag(entity.date) %>
  </footer>
</article>
