<% content_for :title, t('.title', title: @container.title) %>
<% content_for :breadcrumbs do %>
  <%= my_index_link %>
  <%= link_to(t('my.dreams.index.nav_text'), my_dreams_path) %>
  <span><%= @container.title %></span>
<% end %>

<article class="dream">
  <header>
    <h1><%= @container.title %></h1>
    <% if @container.restricted? %>
      <p class="privacy" title="<%= Dream.human_attribute_name(:privacy) %>">
        <%= enum_value('dream', 'privacy', @container.privacy) %>
      </p>
    <% end %>
  </header>
  <section class="plot">
    <div class="body"><%= raw @container.body %></div>

    <footer>
      <span class="sleep_place"><%= @container.sleep_place %></span>
      <span class="lucidity"><%= @container.lucidity %></span>
      <%= time_tag(@container.date) %>
    </footer>
  </section>
</article>
