<%= form_with(model:, url: new_profile_path, data: { turbo: false }, class: 'new-profile-form') do |f| %>
  <%= render partial: 'shared/form/errors', locals: { errors: @errors } %>
  <div class="form-fields">
    <div>
      <label class="floating-label">
        <span><%= User.human_attribute_name(:slug) %></span>
        <%=
          f.text_field :slug,
                       required: true,
                       class: 'input-text',
                       maxlength: 20,
                       pattern: '^[_a-z0-9]+$',
                       placeholder: User.human_attribute_name(:slug)
        %>
      </label>
      <div class="guideline"><%= t('guidelines.user.slug') %></div>
    </div>

    <div>
      <label class="floating-label">
        <span><%= User.human_attribute_name(:email) %></span>
        <%=
          f.email_field :email,
                        class: 'input-text',
                        maxlength: 200,
                        placeholder: User.human_attribute_name(:email)
        %>
      </label>
      <div class="guideline"><%= t('guidelines.user.email') %></div>
    </div>

    <div>
      <label class="floating-label">
        <span><%= User.human_attribute_name(:password) %></span>
        <%=
          f.password_field :password,
                           class: 'input-text',
                           required: true,
                           maxlength: 70,
                           placeholder: User.human_attribute_name(:password)
        %>
      </label>
      <div class="guideline"><%= t('guidelines.user.password') %></div>
    </div>

    <div>
      <label class="floating-label">
        <span><%= User.human_attribute_name(:password_confirmation) %></span>
        <%=
          f.password_field :password_confirmation,
                           class: 'input-text',
                           required: true,
                           maxlength: 70,
                           placeholder: User.human_attribute_name(:password_confirmation)
        %>
      </label>
      <div class="guideline"><%= t('guidelines.user.password_confirmation') %></div>
    </div>
  </div>

  <div><%= button_tag t('.join'), name: nil, class: 'button button-primary' %></div>
<% end %>
