<%= form_with(model:, url:, data: { turbo: false }) do |f| %>
  <%= render partial: 'shared/form/errors', locals: { errors: model.errors } %>

  <div class="form-fields">
    <div>
      <label class="floating-label">
        <span><%= model.class.human_attribute_name(:name) %></span>
        <%= f.text_field :name, required: true, maxlength: 100 %>
      </label>
    </div>
  </div>

  <div class="form-buttons">
    <%= f.button t('actions.save'), name: nil %>
  </div>
<% end %>
