<% content_for :title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<section>
  <h1><%= t('.heading') %></h1>

  <%= render 'authentication/form' %>

  <p><%= t('.not_registered') %> <%= link_to(t('.join'), new_profile_path) %>.</p>
</section>
